<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: url(https://s3.amazonaws.com/ionic-io-static/2pK3RntzRYmqQAShuuDf_Tipi-At-The-Sawtooth-Mountains-Under-The-Milky-Way-4-x-6-1.jpg) no-repeat center;background-size:cover;">
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <div>
        <img src="https://s3.amazonaws.com/ionic-io-static/yVXLM0XeR9W04YOK5Pts_Magritte-96.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 style="color:#FFFFFF;font-weight:lighter;text-align:center;">Tribe</h1>

    <ion-item>
      <!-- <ion-label stacked>Email</ion-label> -->
      <ion-input #email formControlName="email" type="email" placeholder="Your email address"
        [class.invalid]="!loginForm.controls.email.valid &&
          loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
      loginForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <!-- <ion-label stacked>Password</ion-label> -->
      <ion-input #password formControlName="password" type="password" placeholder="Your password"
        [class.invalid]="!loginForm.controls.password.valid &&
          loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      loginForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <button ion-button block type="submit">
      Login
    </button>

  </form>

  <button ion-button block clear (click)="goToResetPassword()">
    I forgot my password 🙁
  </button>

  <button ion-button block clear (click)="createAccount()">
    Create a new account
  </button>

  <button ion-button icon-left block (click)="fblogin()">
    <ion-icon name="logo-facebook"></ion-icon> 
    LOGIN WITH FACEBOOK
  </button>

    <button ion-button icon-left block (click)="googlelogin()">
    <ion-icon name="logo-google"></ion-icon> 
    LOGIN WITH GOOGLE
  </button>

</ion-content>